.selectionWrapper{
  display: flex;
  min-height: 50px;
  background-color: rgb(255, 254, 254);
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 20px;
  box-sizing: content-box;
}

